body {
    background-color: rgb(39, 39, 39);
    font-family:  Arial, Helvetica, sans-serif;
    margin: 0px;
    font-weight: lighter;
    
}

header {
    color: lightgray;
    margin: 20px;
}

#header {
    font-weight: lighter;
    margin: 0px;
}

a:link, a:visited {
    color: lightgray;
    cursor: auto;
    text-decoration: none;
    float: right;
    font-size: 13px;
  }

a:link:hover {
    text-decoration: underline;
    cursor: pointer;
}  

#title {
    margin-left: 45px;
    margin-top: 45px;
    margin-bottom: 25px;
    color:indianred;
    font-size: 14px;
    font-weight: lighter;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.1px;
    border-color: lightgray;
  } 

#main {
    font-weight: lighter;
    margin-top: 45px;
    margin-left:45px;
    color: lightgrey;
    font-size: 13px;
    height: 47px;
    
}  

label {
    display: inline-block;
    width: 200px;
    margin-left: 45px;
    color:lightgrey;
    font-size: 13px;
}

.find {
    height: 47px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 100px;
}

#button {
    display:block;
    margin-left: 200px;
    width: 60%;
    max-width: 572px;
}

input[type="text"] {
    color: white;
    font-size: 15px;
    background: transparent;
    line-height: 2;
    width: 60%;
    max-width: 572px;
    height: 29px;
    display: inline-block;
    border-width: 1px;
    border-color: #555555;
    border-style: solid;
    
}

input[type="submit"] {
    background-color:#8ab4f8;
    color: black;
    border-radius: 0.15em;
    border: none;
    font-size: 12px;
    line-height: 1.3;
    padding: 7.5px 15px;
    float: right;
    
}

input:hover[type="submit"] {
    background-color:#aecbfa;
}